src/main/resources/META-INF/spark-web.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://stackspace.org/spark/config/web" xmlns:ss="http://stackspace.org/spark/config/web"
	elementFormDefault="qualified">
	<xs:element name="spark-config" type="ss:spark-config" />
	<xs:complexType name="spark-config">
		<xs:sequence>
			<xs:element name="command-mappings" type="ss:command-mappings"
				minOccurs="0" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="command-mappings">
		<xs:sequence>
			<xs:element name="command-mapping" type="ss:command-mapping"
				minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="command-mapping">
		<xs:sequence>
			<xs:element name="forward" type="ss:forward" nillable="true"
				minOccurs="1" maxOccurs="unbounded" />
		</xs:sequence>
		<xs:attribute name="action" type="xs:string" use="required" />
		<xs:attribute name="command-class" type="xs:string" use="required" />
	</xs:complexType>
	<xs:complexType name="forward">
		<xs:attribute name="outcome" type="xs:string" use="required" />
		<xs:attribute name="view" type="xs:string" use="required" />
	</xs:complexType>
</xs:schema>
